.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 100px;
}

.login_fields {
    margin-top: 50px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login_text {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
